* {
  padding: 0;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-family: "Handlee", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
}
/* shared sytle */
.btn {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
  border: 0;
  padding: 20px 40px;
}
/* Banner  */
.banner-container {
  height: 100vh;
  background-color: rgba(229, 84, 115, 0.1);
  background-image: url("../images/pngwing\ 10.png");
  background-repeat: no-repeat;
  background-position: bottom 0px right 200px;
  background-size: contain;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.special-offer {
  color: #e55473;
  font-size: 40px;
  font-weight: 800;
}
.banner-description {
  padding-top: 180px;
  padding-left: 240px;
  margin-right: 97px;
}

.banner-title {
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 20px;
}
.flower-para {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  width: 50%;
  margin-bottom: 20px;
}
/* fancy image container */
.fancy-description {
  text-align: center;
}
.fancy-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding: 50x;
  margin-top: 100px;
}
.fancy-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
}
.fancy-images {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
}
.fancy-img-1 {
  width: 464px;
  height: 538px;
  border-radius: 49% 52% 46% 45% / 30% 31% 0% 0%;
  background: rgba(167, 33, 98, 0.15);
}
.fancy-img-2 {
  width: 464px;
  height: 538px;
  border-radius: 49% 52% 46% 45% / 30% 31% 0% 0%;
  background: rgba(5, 151, 160, 0.15);
}
.fancy-img-3 {
  width: 464px;
  height: 538px;
  border-radius: 49% 52% 46% 45% / 30% 31% 0% 0%;
  background: rgba(71, 125, 17, 0.15);
}
.fancy-images img {
  width: 150;
  height: 150;
}

.img-1 {
  margin-top: 110px;
  margin-left: 40px;
}
.img-2 {
  margin-top: 160px;
  margin-left: 50px;
}
.img-3 {
  margin-top: 70px;
  margin-left: 50px;
}
.flower-name {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
  margin-top: 20px;
  padding: 20px;
}
/* deal-container */
.deal-container {
  height: 420px;
  width: 100%;
  background-color: rgba(229, 84, 115, 0.05);
  /* background: linear-gradient(rgba(229, 84, 115, 0.1), rgba(229, 84, 115, 0.1)),
    url("../images/pngwing\ 8.png"); */
  background-image: url("../images/pngwing\ 8.png");
  background-repeat: no-repeat;
  background-position: center right 240px;
  align-items: center;
  background-size: contain;
  display: flex;
  justify-content: space-around;
  /* background: rgba(229, 84, 115, 0.05); */
}

.deal-title {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}
.sell-up {
  text-align: center;
  margin-right: 220px;
}
.deal-description {
  width: 60%;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 120px;
  margin-left: 50px;
}
/* instagram section */
.instagram-container {
  background: #fff;
  height: 100vh;
}
.images {
  display: flex;
  gap: 24;
}
.image {
  width: 350px;
  height: 200px;
  margin: 0 auto;
}
.instagram-title {
  padding: 20px;
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.instagram-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
  margin-bottom: 10px;
}
/* customer information  */
.customer-container {
  height: 350px;
  background-image: url("../images/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: contain;
  margin: 0 auto;
  /* margin-top: -300px;
  margin-left: 200px;
  margin-right: 200px; */
}
.person-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}
.coupon {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 20px;
}
input {
  width: 30%;
  margin-left: 20px;
  padding: 15px;
  border-radius: 8px;
  border: 0;
  background: #fff;
  margin-right: 10px;
}
