* {
  padding: 0;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
}
/* shared sytle */
.btn {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
  border: 0;
  padding: 20px 40px;
}
/* header section */
.nav-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  padding: 20px;
  background-color: gray;
}
.logo-img {
  width: 200px;
  height: 50px;
}
ul {
  display: flex;
  gap: 20px;
}
ul li {
  list-style: none;
  text-transform: uppercase;
}
ul li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.item:hover {
  background-color: rgb(52, 48, 48);
  padding: 10px;
  border-radius: 8px;
}

/* Banner  */
.banner-container {
  height: 100vh;
  background-color: rgba(229, 84, 115, 0.1);
  background-image: url("../images/pngwing\ 10.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
/* .special-offer {
  color: #e55473;
  font-size: 40px;
  font-weight: 800;
} */
.banner-description {
  margin-left: 100px;
}

.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 20px;
}
.flower-para {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  width: 60%;
  margin-bottom: 20px;
}
/* fancy image container */
.fancy-description {
  text-align: center;
}
.fancy-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding: 50px;
  margin-top: 100px;
}
.fancy-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
}
.fancy-images {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
}
.fancy-img-1 {
  width: 460px;
  height: 530px;
  border-radius: 49% 52% 46% 45% / 30% 31% 0% 0%;
  background: rgba(167, 33, 98, 0.15);
}
.fancy-img-2 {
  width: 460px;
  height: 530px;
  border-radius: 49% 52% 46% 45% / 30% 31% 0% 0%;
  background: rgba(5, 151, 160, 0.15);
}
.fancy-img-3 {
  width: 460px;
  height: 530px;
  border-radius: 49% 52% 46% 45% / 30% 31% 0% 0%;
  background: rgba(71, 125, 17, 0.15);
}
.fancy-images img {
  width: 80%;
  height: 80%;
}

.img-1 {
  margin-top: 110px;
  margin-left: 40px;
}
.img-2 {
  margin-top: 160px;
  margin-left: 50px;
}
.img-3 {
  margin-top: 70px;
  margin-left: 50px;
}
.flower-name {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
  margin-top: 20px;
  padding: 20px;
}
/* optional container */
.content-containers {
  height: 320px;
  display: flex;
  gap: 20px;
  background: rgba(39, 39, 39, 0.05);
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 100px;
  margin-left: 150px;
  margin-right: 150px;
}
.person-img {
  margin-left: 50px;
}
.information {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}
/* deal-container */
.deal-container {
  height: 600px;
  width: 100%;
  background-color: rgba(229, 84, 115, 0.05);
  /* background: linear-gradient(rgba(229, 84, 115, 0.1), rgba(229, 84, 115, 0.1)),
    url("../images/pngwing\ 8.png"); */
  background-image: url("../images/pngwing\ 8.png");
  background-repeat: no-repeat;
  background-position: center right 50px;
  align-items: center;
  background-size: contain;
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;
  gap: 100px;
}

.deal-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.sell-up {
  text-align: center;
  padding-right: 50px;
}
.deal-description {
  width: 70%;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  padding-left: 70px;
  text-align: center;
}
/* instagram section */
.instagram-container {
  background: #fff;
  height: 200px;
  /* margin-right: 50px;
  margin-left: 50px; */
}
.images {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
}
.image {
  width: 300px;
  height: 200px;
  margin: 10px;
}
.instagram-title {
  padding: 20px;
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.instagram-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
  margin-bottom: 10px;
}
/* customer information  */
.customer-container {
  /* height: 100vh; */
  height: 500px;
  background-image: url("../images/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 50px;
}
label {
  position: relative;
}
input {
  padding: 20px;
  border: none;
  width: 80%;
  margin-right: 10px;
  border-radius: 8px;
}
.btn {
  position: absolute;
  padding: 15px;
}

.offer-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}
.coupon {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 20px;
}
/* footer */
.footer-container {
  height: 450px;
  display: flex;
  align-items: center;
  background-color: #111010;
  justify-content: center;
}
.footer-title {
  color: white;
  font-size: 48px;
  font-weight: 800;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.footer-description {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
}
.copy-right {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.mark-item {
  color: #e55473;
}
